site_name: PyPDFForm Documentation
site_url: https://chinapandaman.github.io/PyPDFForm/
repo_url: https://github.com/chinapandaman/PyPDFForm
repo_name: chinapandaman/PyPDFForm
nav:
  - 'Getting Started':
    - index.md
  - 'User Guide':
    - install.md
    - coordinate.md
    - font.md
    - prepare.md
    - inspect.md
    - fill.md
    - style.md
    - acro_js.md
    - draw.md
    - utils.md
  - 'Developer Guide':
    - dev_intro.md
    - dev_changes.md
    - dev_doc.md
    - dev_test.md
    - dev_release.md
  - 'News':
    - news/2025-11-22.md
    - news/2025-05-24.md
    - news/2025-03-29.md
    - news/2024-01-01.md

plugins:
  - search

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: ⚓︎

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
    annotation: material/plus-circle
  features:
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.top
    - toc.follow
    - toc.integrate
    - search.suggest
    - search.highlight
    - search.share
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  logo: img/logo.png
  favicon: img/favicon.ico

extra_css:
  - stylesheets/extra.css

extra:
  version:
    provider: mike
    alias: true
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/chinapandaman
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/jinge-li-a2296a135/
    - icon: fontawesome/brands/python
      link: https://pypi.org/user/chinapandaman/

copyright: Copyright &copy; 2020 - Present Jinge Li
