name: Nightly Build

permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: "00 00 * * *"

jobs:
  close-staled-issues:
    permissions:
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: uv pip install -U -r pyproject.toml --extra dev --system
      - name: Close Staled Issues
        env:
          GITHUB_TOKEN: ${{ secrets.GHA_TOKEN }}
        run: python scripts/close_staled_issues.py

  backup-on-codeberg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Git Configs
        run: |
          git config --global user.name 'release-bot'
          git config --global user.email 'bot@domain.com'
      - name: Push mirror to Codeberg
        env:
          CODEBERG_TOKEN: ${{ secrets.CODEBERG_TOKEN }}
        run: |
          CODEBERG_REPO="https://$CODEBERG_TOKEN@codeberg.org/chinapandaman/PyPDFForm-mirror.git"
          git remote add codeberg $CODEBERG_REPO
          git push --mirror codeberg

  check-lowest-compatibility:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - name: Install lowest direct dependencies
        run: uv pip install --resolution=lowest-direct -r pyproject.toml --extra dev --system
      - name: Run tests against lowest direct dependencies
        run: |
          coverage run -m pytest && coverage report --fail-under=100

  nightly-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build dev image from latest tag
        run: |
          git checkout $(git describe --tags `git rev-list --tags --max-count=1`)
          docker build -t pypdfform-dev .
      - name: Run nightly tests on newest PDF samples
        run: |
          git checkout master
          bash ./scripts/nightly_tests.sh
